html {
  scroll-behavior: smooth;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
body {
  background-color: black;
  scroll-behavior: smooth;
}
.navbar a {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 }
nav {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  padding: 50px 0;
  background-color: rgb(49, 49, 49);
  border-radius: 25px;
}
.navBarName {
 font-size:50px;
 font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li,
nav ul li :after,
nav ul li :before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: rgb(182, 49, 49);
}

/* SHIFT */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #a0b3bc;
  }
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

.explore{
  margin-top: 80px;
  font-size: 100px;
     font-family: 'Bungee Shade', cursive;

}
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}


#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p a:hover {
  color: #888;
}
.demo a {
  
  margin-top: 100px;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.jumbotron{
  margin-top: 500px;
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  width: 99.3%;
}
.jumboTop{
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 60px;
  border: solid;
  border-color: white;
  border-radius: 15%;
  
}
.card-title{
     font-size: 80px;
     font-family: "Antonio", sans-serif;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;

}
.download1{
  font-size: 40px; 
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.contact{
  font-size: 24px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: white;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}



.img1{
 margin-left: 230px;
}

.img2{
margin-left: 680px;
}

*{
  margin: 0;
  padding: 0;
    font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}



.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
    background: linear-gradient(to right, rgba(0,179,255,0.5), rgba(0,23,117,0.5));
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
 
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.explore{
  color: white;
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.stars, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0%;
  right:0%;
  bottom:0%;
  width:100%;
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
}

.stars {
  background:#000 url('img/stars.png');
  height: 500%;
  z-index:0;
}

.twinkling{
  background:transparent url(img/twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

.flip-card {
  background-color: transparent;
  width: 1200px;
  height: 600px;
  perspective: 1000px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.flipcard1 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 50px;
}
.purpose1{
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
}

.hovertext1 {
  font-size: 20px;
}

.css-button-neumorphic {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: white;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #585858;
}
.css-button-neumorphic:active {
  box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.css-button-neumorphic1 {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  min-width: 250px;
  height: 80px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: rgb(49, 49, 49) !important;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  .css-button-neumorphic1:active {
  box-shadow: inset 1px 1px 3px #e5e8f1, inset -1px -1px 3px #fff;
}

.imageCarousel {
  height: 500px;
}

.grid-container {
  columns: 3 200px;
  column-gap: 2rem;
  width: 100%;
  margin: 0 auto;
  place-items: center;
}
.grid-container div {
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  
}
.grid-container div:hover img {
  filter: grayscale(0);
}
.grid-container div:hover {
  border-color: rgb(80, 203, 255);
}
.grid-container div img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}

.grid-item {
  height: 300px;
}

.top {
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  place-self: end !important;
  margin-top: calc(100vh + var(--offset));
  /* visual styling */
  text-decoration: none;
  padding: 20px;
  color: #fff;
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  background-color: rgb(49, 49, 49);
  border-radius: 15px;
  white-space: nowrap;
}


.skill-box{
  width: 100%;
  margin: 25px 0;
}

.skill-box .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
}
.skill-box .skill-bar{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: linear-gradient(90deg, hsla(243, 95%, 23%, 1) 0%, hsla(243, 44%, 11%, 1) 90%);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.skill-per.css{
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.javascript{
  width: 50%;
  animation-delay: 0.2s;
}
.skill-per.digitalMedia{
  width: 30%;
  animation-delay: 0.3s;
}
@keyframes progress {
  0%{
      width: 0;
      opacity: 1;
  }
  100%{
      opacity: 1;
  }
}
.skill-per .tooltip{
  position: absolute;
  right: -15px;
  top: -38px;
  font-size: 9px;
  font-weight: 500;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  background: black;
  z-index: 1;
  opacity: 1;
}
.tooltip::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 10px;
  width: 10px;
  z-index: -1;
 
  opacity: 1;
}

.box1{
  background: rgb(49, 49, 49);
  border: solid 2px;
  border-color: white;
  border-radius: 15px;
}

.resume1{
  border: solid 2px;
  border-color: white;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(49, 49, 49);
}

p {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

li {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
